body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.login-box {
    background: #1e293b;
    padding: 30px;
    margin: 100px auto;
    width: 300px;
    border-radius: 12px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}

button {
    background: #22c55e;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.card {
    background: #1e293b;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}
